#jugadora-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 5%;
    padding-inline: 5%;
    height: 30%;
    padding-bottom: 0.75%;
    background-blend-mode: color-burn;
}
#jugadora-info img{
    border-radius: 20px;
    padding: unset;
    width: 200px;
    max-width: 200px;
    background: rgba(255, 255, 255, 0.08);
}
#jugadora-info #datos-jugadora{
    width: 100%;
}
#jugadora-info .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#jugadora-info .fi{
    border: 1px solid var(--color-detalles);
    font-size: xx-large;
    height: fit-content;
    border-radius: 50px;
}
#mostrador-tarjetas{
    height: 100%;
}

/* 1. Clase base: aquí definimos la suavidad */
.tarjeta-wrapper {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Curva suave */
    will-change: transform; /* Ayuda al navegador a optimizar la animación */
    opacity: 0.4;
}

/* 2. Clase activa: aplicamos el escalado */
.swiper-slide-active .tarjeta-wrapper {
    transform: scale(1.1);
    opacity: 1;
}

/* 3. Asegurar que las tarjetas no se corten */
.swiper {
    /* Añadimos un poco de padding para que al escalar 
       la tarjeta no se salga del borde del contenedor */
    padding-top: 20px;
    padding-bottom: 20px;
}
span.swiper-pagination-bullet{
    background: var(--color-secundario);
    border: 1px solid var(--color-detalles);
}
span.swiper-pagination-bullet-active{
    background: var(--color-primario);
    border: 1px solid var(--color-primario);
}
