body{
    height: 100vh;
}
summary, details{
    display: none;
}
.selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
    background: inherit;
}
#ver-mapa{
    display: none;
}
/* Texto */
#selector-text {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 6px;
    transition: opacity 0.35s ease, transform 0.35s ease;
}

/* Flechas */
.arrow {
    font-size: 1.4rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.arrow:hover:not(.disabled) {
    opacity: 1;
    transform: scale(1.15);
}

/* Flecha desactivada */
.arrow.disabled {
    opacity: 0.15;
    pointer-events: none;
    transform: none;
}

/* Puntitos */
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #aaa;
    opacity: 0.35;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease,
        opacity 0.3s ease;
}

.dot.active {
    background: var(--color-primario, #5cffb0);
    opacity: 1;
    transform: scale(1.3);
}

.panel {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;

    opacity: 0;
    transform: translateY(8px);
    pointer-events: none;

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.panel.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}










#sugerencias{
    max-height: 125px;
    overflow-y: scroll;
}

#items-container{
    background-image: url("../../img/fondo cesped.jpg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(37, 0, 37); /* Color negro con transparencia */
    background-blend-mode: color-dodge; /* Modo de mezcla */
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

#items-container.jugadoras{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#items-container.equipos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 15px; /* espacio entre filas y columnas */
    justify-items: center; /* centra horizontalmente los items */
    padding-block: 25px;
    padding-inline: 10%;
}

.jugadora-item{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas iguales */
    grid-template-rows: 1fr;              /* 1 fila */

    width: 80%;
    height: 60px;
    overflow: hidden; /* recorta lo que sobresalga */
    align-items: center;
    justify-items: center;
}

.jugadora-item:hover {
    box-shadow:
        0 12px 40px rgba(0, 0, 0, 0.35),
        0 0 20px rgba(255, 255, 255, 0.25);

    border-color: rgba(255, 255, 255, 0.45);
}

.jugadora-item .jugadora-imagen{
    /*border-radius: 0px 0px 0px 10px;*/
    width: 20%;       /* ocupa todo el ancho de la celda */
    /*height: 100%;      /* ocupa todo el alto de la celda */
    object-fit: cover; /* mantiene proporción y recorta si hace falta */
}

.jugadora-item .equipo-imagen{
    width: 15%;       /* ocupa todo el ancho de la celda */
    /*height: 100%;      /* ocupa todo el alto de la celda */
    object-fit: cover; /* mantiene proporción y recorta si hace falta */
}

.jugadora-item p{
    width: 100%;
}

#wiki-equipos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#cabecera-wiki-equipos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--color-primario);
    transition: all 0.3s ease;
    width: 100%;
    height: 300px;
    position: relative;
}

.marker-punto {
    width: 12px;
    height: 12px;
    background: #ff33ff;
    border-radius: 50%;
    border: 2px solid white;
}

.marker-escudo {
    width: 50px;
    height: 50px;
    animation: pop 0.4s ease-out;
    cursor: pointer;
}
.marker-escudo {
    transform-style: preserve-3d;
}

.marker-escudo:hover {
    box-shadow: 0 20px 40px rgba(192,0,255,0.6);
}

@keyframes pop {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}


.marker-escudo:hover {
    filter: drop-shadow(0 0 10px #ac00ac);
}

#mapa-equipos{
    height: 100% !important;
}

#mapa-equipos .leaflet-tile-pane {
    filter: hue-rotate(260deg) saturate(1.4) brightness(0.9);
}

.marker-wrapper {
    position: relative;
    width: 50px;
    height: 70px;
}

.marker-pin {
    width: 10px;
    height: 10px;
    background: #ff0066;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 8px rgba(255, 0, 102, 0.6);
}

.marker-escudo-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 6px;
    /*background: var(--color-primario);*/
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
}


#cabecera-wiki-equipos #filtros-pais{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#cabecera-wiki-equipos #selector nav ul{
    display: flex;
    list-style: none;
    padding: 0%;
}

#cabecera-equipo, #cabecera-jugadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
}

#cabecera-jugadora #filtros{
    display: flex;
    flex-direction: row;
}

#input-y-boton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

#ligas-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px; /* espacio entre items */
    flex-wrap: nowrap; /* no se envuelven */
    max-width: 90%;
}

.liga-item{
    display: flex;
    flex-direction: row;
    border-radius: 20px; /* Bordes redondeados */
    text-align: center; /* Centrar el contenido dentro del botón */
    padding-inline: 10px; /* Espaciado interior */
    background-color: rgba(128,0,128,0.45); /* Color de fondo primario */
    color: white; /* Color del texto */
    margin-bottom: unset; /* Espaciado inferior entre botones */
    transition: transform 0.2s; /* Suavizar el efecto de transformación */
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    align-items: center;
    height: 63px;
    width: 100%;

    backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.liga-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.liga-item:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
    /*color: var(--color-texto); /* Cambiar el color del texto en hover */
    background: var(--color-detalles);
    box-shadow:
        0 12px 40px rgba(0, 0, 0, 0.35),
        0 0 20px var(--liga-shadow-color);
    border-color: var(--liga-shadow-color);
}

.liga-item.selected {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
    /*color: var(--color-texto); /* Cambiar el color del texto en hover */
    background: var(--color-detalles);
    box-shadow:
        0 12px 40px rgba(0, 0, 0, 0.35),
        0 0 20px var(--liga-shadow-color);
    border-color: var(--liga-shadow-color);
}


.liga-item h3{
    font-size: 15px;
}

.liga-item img{
    width: fit-content;
    height: 100%;
}

.liga-info{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    margin-left: 15px;
    width: 100%;
}

.equipo-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px; /* Bordes redondeados */
    text-align: center; /* Centrar el contenido dentro del botón */
    padding-inline: 10px; /* Espaciado interior */
        /* Glass base */
    /*background: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--color-primario) 30%, transparent),
        color-mix(in srgb, var(--color-secundario) 30%, transparent)
    );*/

    color: white; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior entre botones */
    transition: transform 0.2s; /* Suavizar el efecto de transformación */
    /*border: 0.5px solid rgb(255, 255, 255);*/
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    align-items: center;
    max-height: 150px;
    /* Glass base */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    width: 90%;
    opacity: 0;
    transform: translateY(10px);
    cursor: pointer;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease,
        box-shadow 0.3s ease;

    /*background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);*/
}

.equipo-item:hover {
    transform: translateY(0) scale(1.02);

    box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.35),
    0 0 20px color-mix(in srgb, var(--equipo-shadow-color) 35%, transparent);

    border-color: color-mix(in srgb, var(--equipo-shadow-color) 55%, transparent);

}


.equipo-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.equipo-item img{
    width: fit-content;
    height: 40%;
}

@media (max-width: 992px) {
    #equipos-container {
        grid-template-columns: repeat(3, 1fr); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 750px) {
    #ligas-container {
        max-width: 90vw;
        overflow-x: auto;       /* habilita scroll horizontal */
        -webkit-overflow-scrolling: touch; /* scroll suave en iOS */
        justify-content: flex-start; /* alinea items a la izquierda */
        padding-inline: 10px;   /* un poco de padding lateral */
    }

    #ligas-container .liga-item {
        flex: 0 0 auto; /* cada item mantiene su ancho, no se encoge */
        width: 200px;   /* o el ancho que quieras mostrar en móvil */
    }

    #items-container.equipos {
        grid-template-columns: repeat(2, 1fr); /* 1 columna en pantallas pequeñas */
    }

}