{% load static %}
<div class="football-field" style="background-image: url('/static/img/Football_pitch.webp');">
    <table id="grid">
    <tbody>
    <tr>
        <td id="c12" class="10" data-pos="10">DC</td>
        <td id="c13" class="10" data-pos="10">DC</td>
        <td id="c14" class="10" data-pos="10">DC</td>
    </tr>
    <tr>
        <td id="c21" class="11" data-pos="11">EI</td>
        <td id="c22" class="5" data-pos="5">MC</td>
        <td id="c23" class="7" data-pos="7">MCO</td>
        <td id="c24" class="5" data-pos="5">MC</td>
        <td id="c25" class="12" data-pos="12">ED</td>
    </tr>
    <tr>
        <td id="c31" class="8" data-pos="8">MI</td>
        <td id="c32" class="5" data-pos="5">MC</td>
        <td id="c33" class="5" data-pos="5">MC</td>
        <td id="c34" class="5" data-pos="5">MC</td>
        <td id="c35" class="9" data-pos="9">MD</td>
    </tr>
    <tr>
        <!--<td id="c41" class="8" data-pos="8">MI</td>-->
        <td id="c41" class="4" data-pos="4">LI</td>
        <td id="c42" class="6" data-pos="6">MCD</td>
        <td id="c43" class="6" data-pos="6">MCD</td>
        <td id="c44" class="6" data-pos="6">MCD</td>
        <td id="c45" class="2" data-pos="2">LD</td>
        <!--<td id="c45" class="9" data-pos="9">MD</td>-->
    </tr>
    <tr>
        <td id="c51" class="4" data-pos="4">LI</td>
        <td id="c52" class="3" data-pos="3">DFC</td>
        <td id="c53" class="3" data-pos="3">DFC</td>
        <td id="c54" class="3" data-pos="3">DFC</td>
        <td id="c55" class="2" data-pos="2">LD</td>
    </tr>
    <tr>
        <td id="c61"></td>
        <td id="c62"></td>
        <td id="c63" class="1" data-pos="1">POR</td>
        <td id="c64"></td>
        <td id="c65"></td>
    </tr>
    </tbody>
</table>
</div>