{% load static %}
<header class="navbar">
  <div class="container">

    <!-- Logo de vSports -->
    <div id="header-izquierda"> 
      <a href="{% url 'index' %}" class="navbar-brand1"><img src="{% static 'img/logo.png' %}" alt="logo futfem"></a>
      <nav id="main-nav">
        <ul>
          <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Inicio</a></li>
          <li><a href="{% url 'wiki' %}" class="{% if request.resolver_match.url_name == 'wiki' %}active{% endif %}">Wiki</a></li>
          <li><a href="#nosotros">Nosotros</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <!-- Barra de navegación -->
    <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'img/logo 1.png' %}" alt="logo futfem"></a>
    <!-- Botón de menú hamburguesa -->
    <div class="hamburger-menu" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
        <!-- Menú desplegable -->
    <div class="dropdown-menu">
      <nav>
        <ul>
          <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Inicio</a></li>
          <li><a href="{% url 'wiki' %}" class="{% if request.resolver_match.url_name == 'wiki' %}active{% endif %}">Wiki</a></li>
          <li><a href="#nosotros">Nosotros</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </nav>
      <div>
        <button class="iniciar-sesion-button">Iniciar Sesión</button> <!-- Enlace a la página de inicio de sesión -->
        <button class="registro-button">Registrarse</button> <!-- Enlace a la página de registro -->
      </div>
    </div>
    <!-- Botones de inicio de sesión y registro -->
    <div class="botones">
      <button class="iniciar-sesion-button">Iniciar Sesión</button> <!-- Enlace a la página de inicio de sesión -->
      <button class="registro-button">Registrarse</button> <!-- Enlace a la página de registro -->
    </div>
  </div>
</header>
<script>
  function toggleMenu() {
    const menu = document.querySelector('.dropdown-menu');
    const hamburger = document.querySelector('.hamburger-menu');
    const header = document.querySelector('header');
    hamburger.classList.toggle('open');
    menu.classList.toggle('open');
    header.style.background = menu.classList.contains('open') ?  'var(--color-secundario)' : 'transparent';

    window.addEventListener('resize', () => {
      if (window.innerWidth > 768) {
        menu.classList.remove('open');
        hamburger.classList.remove('open');
        header.style.background = 'transparent';
      }
    });

  }
</script>

