{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutFemGames</title>
    <link rel="icon" href="{% static 'img/prueba logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/glow-border.css' %}">
</head>
<body>
{% include 'partials/header.html' %}
<section class="juegos">
<div class="container mt-5 sibling-fade">
    <div class="row sibling-fade d-flex justify-content-center">
        {% include 'partials/game_card.html' with racha_id="racha-1" destino_js="career" imagen="img/trayectoria.jpg" titulo="Futfem Career" %}
        {% include 'partials/game_card.html' with racha_id="racha-4" destino_js="grid" imagen="img/grid.png" titulo="Futfem Grid" %}
        {% include 'partials/game_card.html' with racha_id="racha-6" destino_js="bingo" imagen="img/Bingo.png" titulo="Futfem Bingo" %}
        <div class="col-md-4" style="display: none;">
            <div class="game-button glow" onclick="redireccionarA('XI_Clubs')">
                <img src="{% static 'img/ComingSoon.png' %}" alt="Game 3">
                <h4>Futfem Clubs</h4>
                <button class="btn btn-primary btn-block" onclick="window.location.href='XI_Clubs.php'">PLAY</button>
            </div>
        </div>
    </div>
    <div class="row sibling-fade d-flex justify-content-center">
        {% include 'partials/game_card.html' with racha_id="racha-2" destino_js="wordle" imagen="img/wordle.png" titulo="Futfem Wordle" %}
        {% include 'partials/game_card.html' with racha_id="racha-3" destino_js="guess" imagen="img/ComingSoon.png" titulo="Futfem Guess" %}
        {% include 'partials/game_card.html' with racha_id="racha-5" destino_js="mates" imagen="img/ComingSoon.png" titulo="Futfem Partners" %}        
    </div>
</div>
</section>
<link rel="" href="app/widgets/language.html">
<script src="{% static 'js/redireccion.js' %}"></script>
<script src="{% static 'js/funciones-tablas.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    //obtenerRacha(1)
</script>
</body>
</html>
