/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background: none;
}
header{
    z-index: 100;
}

#bg-dynamic {
  position: fixed;
  inset: 0;
  z-index: 1;

  background-size: cover;
  background-position: center;
  filter: blur(0px) brightness(0.6);
  transform: scale(1.1);

  transition: none;
  height: 100vh;
  width: 100vw;
}



img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /*pointer-events: none; /* Evita que las imágenes capturen el clic */
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: 50px;*/
    z-index: 2;
}

#cabecera-bingo{
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center;      /* Centra verticalmente */
    gap: 1rem;                /* Espacio entre el player y el botón */
    padding: 0.5rem;
    position: relative;
    width: 100%;
    z-index: 2;
}

#cabecera-bingo button {
    position: absolute;
    right: 0; /* Alinea el botón a la derecha */
    top: 35%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    background-color: #e200ff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.player {
    margin-bottom: 10px;
}

.player img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--color-primario) 30%, transparent),
        color-mix(in srgb, var(--color-secundario) 30%, transparent)
    );

    color: white; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior entre botones */
    transition: transform 0.2s; /* Suavizar el efecto de transformación */
    border: 0.25px solid rgb(128, 0, 128);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.info-player{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-name {
    font-size: 24px;
    margin-top: 10px;
}

table {
    margin: 10px 0;
    width: auto;
    table-layout: fixed;
    border-spacing: 10px;
    border-collapse: unset;
}

th, td {
    border: 1px solid #ddd !important;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    transition: background 0.3s ease !important;
    margin: 10px;
    border-radius: 20px;
    z-index: 3;
}

td {
    position: relative;
    background: linear-gradient(to bottom, 
    color-mix(in srgb, var(--color-primario) 30%, transparent), 
    color-mix(in srgb, var(--color-secundario) 30%, transparent)) !important;
}
td * {
    pointer-events: none;
}

td:hover{
    /*background:linear-gradient(
    to bottom,
    color-mix(in srgb, var(--gradient-primary) 50%, transparent),
    color-mix(in srgb, var(--gradient-secondary) 100%, transparent));*/
    background: linear-gradient(to bottom, 
    color-mix(in srgb, var(--color-primario) 10%, transparent), 
    color-mix(in srgb, var(--color-secundario) 80%, transparent)) !important;
    border: 1px solid var(--color-primario) !important;
}

/* Estilo temporal al hacer clic */
td:active {
    background-color: rgba(26, 149, 247, 0);
}

/* Estilo cuando la celda es seleccionada */
td.selected {
    background-color: rgba(26, 149, 247, 0);
    color: white;
}

/* Clase para celdas bloqueadas */
.blocked {
    pointer-events: none; /* Desactiva cualquier evento de clic */
    background: #b000b6;
    position: relative;
    overflow: hidden;
}

.blocked:hover {
    pointer-events: auto; /* permite hover */
}

/* Imagen del jugador - parte inferior derecha, por delante */
.blocked .player-imagen {
    position: absolute;
    right: 0; /* Ajusta la distancia desde el borde derecho */
    transform: scale(1.2) !important; /* Agrandar la imagen del jugador en la celda bloqueada */
    z-index: 3; /* Asegurar que la imagen del jugador esté por delante */
    opacity: 1; /* Imagen del jugador completamente visible */
    width: 70%;
    bottom: 0;
}

.blocked span.background-img{
    position: absolute;
    top: 10px; /* Ajusta la distancia desde el borde superior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    z-index: 1; /* Asegura que la imagen de fondo esté detrás */
}

/* Imagen de fondo - parte superior izquierda, por detrás */
.blocked img.background-img {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde el borde superior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    z-index: 1; /* Asegura que la imagen de fondo esté detrás */
    width: 60%; /* Ajusta el tamaño de la imagen de fondo según sea necesario */
}

.grid-item img {
    width: 60px;
}

.grid-item:hover {
    transform: scale(1.1);
}

.skip-button {
    /*margin-top: 20px;*/
    background-color: #e200ff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

/* Ocultar algunos elementos */
.oculto {
    border: none;
    background: none;
}

/* Animación de temblor */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

td.tremble {
    animation: shake 0.5s ease;
    /*background-color: red; /* Color de fondo rojo durante el temblor */
    background: linear-gradient(to bottom, 
    color-mix(in srgb, var(--color-danger) 50%, transparent), 
    color-mix(in srgb, var(--color-secundario) 50%, transparent)) !important;
    border: 1px solid var(--color-danger) !important;
}

td.blocked {
    /*background-color: red; /* Color de fondo rojo durante el temblor */
    background: linear-gradient(to bottom, 
    color-mix(in srgb, var(--color-success) 50%, transparent), 
    color-mix(in srgb, var(--color-secundario) 50%, transparent)) !important;
    border: 1px solid var(--color-success) !important;
}