body{
    height: 100vh;
}
h1{
    margin-bottom: 30px;
}

.mates-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mates-container #reloj{
    width: max-content;
}

.juego{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compañeras{
    width: 100%;
    max-height: 50%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-bottom: 15px;
}
.compañeras div{
    max-height: 150px;
    max-width: 115px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, 
    color-mix(in srgb, var(--color-primario) 40%, transparent), 
    color-mix(in srgb, var(--color-secundario) 60%, transparent)) !important;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);

}
.compañeras div img{
    max-height: 100%;
    border-radius: 10px;
    width: 100%;
}
#sugerencias{
    max-height: 125px;
    overflow-y: scroll;
}
#sugerencias::-webkit-scrollbar{
    color: var(--color-primario);
}