body{
    height: 100vh;
}
#game{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#game-logo{
    position: absolute;
    width: 20%;
    z-index: 20;
}

#game div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#game div::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(280px);
    transform: scale(1.1); /* evita bordes duros */
    z-index: 0;
}

#game div > * {
    position: relative;
    z-index: 1; /* el contenido queda encima del blur */
}


#game div:nth-child(2){
    background: rgb(127, 0, 127);
}

#game div:nth-child(3){
    background: rgb(255, 91, 12);
}

#game div:nth-child(2):hover{
    background: rgb(253, 111, 40);
}

#game div:nth-child(3):hover{
    background: var(--color-primario);
}


#game div:hover{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

#game div img{
    width: 150px;
    border-radius: 20px;
    background: linear-gradient(to bottom, 
        color-mix(in srgb, var(--color-primario) 30%, transparent), 
        color-mix(in srgb, var(--color-secundario) 30%, transparent));
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-primario);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25), 0 0 20px rgba(128, 0, 128, 0.3);
}

@media (max-width: 768px){
    #game{
        flex-direction: column;
    }

    #game-logo{
        width: 50%;
    }
}