{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descubre la historia, logros y curiosidades de {{ jugadora.Nombre }} {{ jugadora.Apellidos }} en su ficha personalizada. Explora su carrera, estadísticas y palmarés en nuestra wiki de fútbol femenino.">
    <title>{{ jugadora.Nombre }} {{ jugadora.Apellidos }}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="preload" as="image" href="/static/img/logo.webp" fetchpriority="high">
    {% if jugadora %}
    <link rel="preload" as="image" href="/{{ jugadora.imagen|default:'static/img/predeterm.jpg' }}" fetchpriority="high">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" media="print" onload="this.media='all'"/>

    
    <noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    </noscript>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" media="print" onload="this.media='all'">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100..900&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:wght@200..800&family=Russo+One&display=swap" 
      media="print" onload="this.media='all'">

    <link rel="modulepreload" href="/static/FutFemWiki/js/ficha-jugadora.js" as="script">
    <link rel="preload" href="{% static 'futfem/js/jugadora.js' %}" as="script">
    <link rel="preload" href="/static/js/animations/header.js" as="script">

    <link rel="preload" href="/api/jugadora_trayectoria?id={{ jugadora.id_jugadora }}" as="fetch" crossorigin="anonymous">
    <link rel="preload" href="/api/jugadora_companyeras?id_jugadora={{ jugadora.id_jugadora }}&limite=1000" as="fetch" crossorigin="anonymous">

    {% compress css inline %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'FutFemWiki/css/ficha-jugadora.css' %}">
    <link rel="stylesheet" href="{% static 'FutFemWiki/css/tarjeta-jugadora.css' %}">
    {% endcompress %}
    <style>
        .swiper {
            width: 100%;
            max-width: 100vw;
            display: block;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
        }

        /* Swiper ya pone display: flex internamente, 
        no fuerces propiedades que puedan chocar */
        .swiper-wrapper {
            box-sizing: content-box; 
        }

        .swiper-slide {
            /* REGLA DE ORO: Ancho fijo para que el cálculo sea perfecto */
            width: 300px; 
            display: flex;
            justify-content: center;
            transition: transform 0.3s;
        }
    </style>
</head>
<body {% if usuario_sesion.equipo_favorito.id_equipo %}data-team="{{ usuario_sesion.equipo_favorito.id_equipo }}"{% endif %}>
    
    {% include 'partials/header.html' %}
    <div id="pagina-container">
        <div id="ficha-jugadora-container" class="container">
            <div id="jugadora-info">
                <img src="/{{ jugadora.imagen|default:'static/img/predeterm.png' }}" id="jugadora-img" alt="{{ jugadora.Nombre }} {{ jugadora.Apellidos }}" fetchpriority="high" style="max-height: 125px; width: 125px; object-fit: cover;">
                <div id="datos-jugadora">
                    <h3 id="nombre-jugadora">{{ jugadora.Nombre }} {{ jugadora.Apellidos }}</h3>
                    <div class="grid">   
                        <div>
                            <div style="display: flex; align-items: center;">
                            <div id="pais"></div>
                            <div id="posicion"></div>
                            </div>
                        </div>
                        <div>
                            <p>{{ jugadora.Nacimiento|date:"d/m/Y" }}</p>
                            |
                            <p>{{ jugadora.altura }} cm</p>
                            |
                            <p>{% trans 'Pie' %}: {{ jugadora.pie_habil }}</p>    
                            | 
                            <p>{% trans 'Value' %}: {{ jugadora.market_value }} €</p>
                        </div>
                </div>
                </div>
            </div>
            <div id="jugadora-ficha">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper" id="mostrador-tarjetas">
                        <!--<div class="tarjeta-wrapper">
                            <div class="tarjeta-inner">
                                <div id="tarjeta-jugadora" class="glass tarjeta-jugadora tarjeta-front">
                                    <img id="imagen-jugadora" src="#" alt="{{ jugadora.Apodo }}" fetchpriority="high" width="400" height="500">
                                    <p id="nombre" class="nombre">{{ jugadora.Apodo }}</p>
                                    <div id="detalles" class="detalles">
                                        <img src="/{{ jugadora.Nacionalidad.bandera }}" alt="{{ jugadora.Nacionalidad.nombre }}">
                                        <p id="edad">{{ jugadora.Nacimiento }}<span></span></p>
                                        <p> {{ jugadora.Posicion.abreviatura }} </p>
                                    </div>
                                </div>

                                <div class="glass tarjeta-back">
                                    <h4>Palmarés</h4>
                                    <div class="trofeos" id="palmares-individual">
                                        <p>Cargando...</p>
                                    </div>
                            </div>
                        </div>
                    </div>-->
                    </div>
                    <div class="swiper-pagination"></div></div>
                <div id="companyeras">
                    <h4>{% trans 'Teammates' %}</h4>
                    <div id="companyeras-container"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/animations/header.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script src="{% url 'javascript-catalog' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>
<script type="module">
    import { cargarFichaJugadora } from '/static/FutFemWiki/js/ficha-jugadora.js';
    await cargarFichaJugadora('{{ jugadora.id_jugadora }}');
    const container = document.getElementById('companyeras-container');

if (container) {
    let isDown = false;
    let startX;
    let scrollLeft;

    // Cuando el usuario hace clic (agarra)
    container.addEventListener('mousedown', (e) => {
        isDown = true;
        container.classList.add('grabbing'); // Cambia el cursor a la mano cerrada
        startX = e.pageX - container.offsetLeft;
        scrollLeft = container.scrollLeft;
    });

    // Si el ratón sale del contenedor, dejamos de arrastrar
    container.addEventListener('mouseleave', () => {
        isDown = false;
        container.classList.remove('grabbing');
    });

    // Cuando suelta el clic
    container.addEventListener('mouseup', () => {
        isDown = false;
        container.classList.remove('grabbing');
    });

    // Mientras mueve el ratón
    container.addEventListener('mousemove', (e) => {
        if (!isDown) return; // Si no está haciendo clic, no hace nada
        
        e.preventDefault(); // Evita selecciones de texto raras durante el arrastre
        const x = e.pageX - container.offsetLeft;
        
        // Multiplicador (* 2) para que el scroll sea más rápido y reactivo al movimiento
        const walk = (x - startX) * 2; 
        container.scrollLeft = scrollLeft - walk;
    });
}
</script>
</body>
</html>